# This project is entirely developed by me. 
# Specific files are marked as 'vendored' or 'documentation' 
# solely to prevent visual clutter in the GitHub language statistics bar 
# and to maintain a cleaner repository interface.

* linguist-vendored
